
body{
    font-family: "Helvetica Neue", 'Helvetica','Arial','sans-serif' !important; 
}

.table-name {
    background-color: #34495e;
    color: #fff;
    padding: 5px 29px;
    font-size: 16px;
    font-weight: bold;
    margin-left: -15px;
    margin-right: -20px;
}

.page-header {
    margin-bottom: 0px;
    padding-top: 15px;
}

.heading-border {
    height: 4px;
    background-image: linear-gradient( to right, #0b2566, #e52938) !important;
    width: 100%;
    background-color: #000;
    padding: 0;
}

.table.table-borderless tbody tr td {
    padding: 2px;
    
}

.middle-row {

    background-color: #f9f9f9;

}

.text-blue{
    color: #34495e;
}

.verticalTableHeader {
    text-align:center;
    white-space:nowrap;
    background-origin:50% 50%;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    
}
.table.table-bordered.heat-map1 tbody tr td {
    font-size: 9px;
    padding-right: 0;
    padding-bottom: 0;
    padding-top: 20px;
    padding-left: 17px;
}
.left {
    left: 0;
    -webkit-transform-origin: 0 50%;
       -moz-transform-origin: 0 50%;
        -ms-transform-origin: 0 50%;
         -o-transform-origin: 0 50%;
            transform-origin: 0 50%;
    -webkit-transform: rotate(-90deg) translate(-50%, 50%);
       -moz-transform: rotate(-90deg) translate(-50%, 50%);
        -ms-transform: rotate(0deg) translate(-50%, 50%);
         -o-transform: rotate(-90deg) translate(-50%, 50%);
            transform: rotate(-90deg) translate(-50%, 50%);
  }


 .td-align {

    margin-left: -144px;
    padding-left: 84px;
    margin-right: -100px;
    margin-top: -14px;
    font-size: 14px;

}
.table.table-bordered.heat-map1 {
    font-weight: 600;
}

.td-align1 {
    margin-left: -14px;
    padding-left: 0px;
    margin-right: 7px;
    padding-right: 3px;
}

.td-align2 {

    margin-left: -15px;
    margin-top: 10px;
    margin-right: -12px;
    padding-right: -4px;

}

.heat-map2 tbody tr td {

    padding-bottom: 0;
    text-align: right;
    padding-right: 7px;
    padding-left: 0;
    width: 10%;

}

.no-padding {
    padding: 0 !important;
}

.no-padding img {
    height: 70px !important;
}
.scale-icon {
    padding: 3em 3em;
}

.icon-box {

    padding: 20px;
    border: #cdcdca 1px solid;

}

.table-header {
    font-size: 15px !important;
    font-weight: bold !important;
}

.table-two tbody tr td {
    width: 50%;
}