<htm>
<head>
    <title>Test</title>
</head>
<body>
<div style="padding: 50px;"> 
    <div style="width: 100%">
    <div style="float: left; text-align: center; width: 20%;">
        <img src="<?= $url ?>/images/img/1-TVS.png">
    </div>
    <div style="float: left; text-align: center; width: 60%;">
        <h1><u>Customer Usage Analysis Report</u></h1>
    </div>
    <div style="float: left; text-align: center; width: 20%;">
         <img src="<?= $url ?>/images/img/2-TVS.png">
    </div>
</div><br>
    <div style="height: 50px; background-color: grey; margin-top: 70px; padding-left: 30px; text-align: left; width: 100%;">
        <p style="float: left;">Vehicle Details</p>
    </div>
    <table style="width: 100%;">
        <tr>
            <td style="width: 33.3333%">
                <table>
                    <tr >
                        <td style="width:50%">Model</td>
                        <td style="width:50%">: Apache</td>
                    </tr>
                    <tr >
                        <td style="width:50%">Vehicle Reg</td>
                        <td style="width:50%">: xxx xxx xxx</td>
                    </tr>
                    <tr >
                        <td style="width:50%">Date od Sale</td>
                        <td style="width:50%">: 16-04-2018</td>
                    </tr>
                </table>
            </td>
            <td style="width: 33.3333%">
                <table >
                    <tr>
                        <td style="width:50%">Model</td>
                        <td style="width:50%">: Apache</td>
                    </tr>
                </table>
            </td><td style="width: 33.3333%">
                <table >
                    <tr>
                        <td style="width:50%">Model</td>
                        <td style="width:50%">: Apache</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>  
</div>
</body>
</htm>